# Java
*.class
*.jar
*.war
*.ear
target/

# Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml

# Logs
*.log

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Node / Vue
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/vue/node_modules/
/vue/dist/

# OS files
.DS_Store
Thumbs.db
